<div class="mat-elevation-z3">
  <div class="filtros-container">
    <mat-form-field class="filtro-cliente">
      <mat-label>Cliente</mat-label>
      <mat-select [(value)]="clienteFilter">
        <mat-option *ngFor="let cliente of clientes" value="{{cliente.id}}">
          {{ cliente.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="filtro-status">
      <mat-label>Status Entrega</mat-label>
      <input matInput placeholder="Ex. Entregue" [(ngModel)]="statusEntregaFilter" >
    </mat-form-field>
    <button mat-raised-button (click)="buscarPedidos()" color="primary">
      Buscar
    </button>
  </div>
</div>
<mat-card class="home mat-elevation-z3 pedido-container" *ngFor="let pedido of pedidos">
  <mat-card-content class="pedido-content">
    <div class="pedido-dados-container">
      <div class="pedido-cliente">Cliente: {{ !!pedido.cliente ? pedido.cliente.nome : '' }}</div>
      <div class="pedido-data">Data do Pedido: {{ pedido.dataCadastro }}</div>
      <div class="pedido-status">Status da Entrega: {{ pedido.statusEntrega }}</div>
    </div>
    <hr class="pedidos-divisor">
    <div class="pedido-produtos-container">
      <div *ngFor="let pedidoproduto of pedido.produtos">
        <div class="pedido-produtos">
          <div class="produto-nome">Produto: {{ pedidoproduto.produto.nome }}</div>
          <div class="produto-quantidade">Quantidade: {{ pedidoproduto.quantidade }}</div>
          <div class="produto-preco">Preço: {{ pedidoproduto.produto.valor | currency : 'BRL' }}</div>
        </div>
      </div>
      <hr class="pedidos-divisor">
      <div *ngIf="pedido.produtos.length > 0" class="produtos-total">
        <div></div>
        <div></div>
        <div>
          Total: {{ pedido.total | currency : 'BRL' }}
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
