<mat-card>
  <mat-card-title>Novo Pedido</mat-card-title>
  <form>
    <div class="container-top">
      <mat-form-field class="field-cliente">
        <mat-label>Cliente</mat-label>
        <mat-select [(value)]="pedido.idCliente">
          <mat-option *ngFor="let cliente of clientes" value="{{cliente.id}}">
            {{ cliente.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="field-status">
        <input matInput placeholder="Status da Entrega"
          [(ngModel)]=pedido.statusEntrega name="status">
      </mat-form-field>
    </div>
    <div class="container-produtos-pedido" *ngIf="pedido.produtos.length > 0">
      <mat-divider></mat-divider>
      <div class="produtos-pedido" *ngFor="let produtoPedido of pedido.produtos">
        <div class="produto">
          Produto: {{ produtoPedido.produto.nome }}
        </div>
        <div class="quantidade">
          Quantidade: {{ produtoPedido.quantidade }}
        </div>
      </div>
    </div>
  </form>
  <button mat-raised-button (click)="salvar()" color="primary">
    Salvar
  </button>
  <button mat-raised-button (click)="openDialog()" color="primary">Adicionar Produto</button>
  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>
