.container-top {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.field-cliente,
.field-status {
  width: 50%;
}
.field-status {
  margin-left: 10px;
}

button {
  margin-right: 15px;
}

.container-produtos-pedido {
  margin: 0 0 20px;
  width: 100%
}

.produtos-pedido {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  text-align: left;
  width: 100%;
}

.mat-card .mat-divider-horizontal {
    position: relative;
    margin: auto;
    width: 100%;
    left: inherit;
    margin-bottom: 20px;
}
