<mat-card>
  <mat-card-title>Novo Pedido</mat-card-title>
  <form>
    <div class="container-top">
      <mat-form-field class="field-cliente">
        <mat-label>Cliente</mat-label>
        <mat-select [(value)]="pedido.idCliente">
          <mat-option *ngFor="let cliente of clientes" value="{{cliente.id}}">
            {{ cliente.nome }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="field-status">
        <input matInput placeholder="Status da Entrega"
          [(ngModel)]=pedido.statusEntrega name="status">
      </mat-form-field>
    </div>
  </form>
  <button mat-raised-button (click)="salvar()" color="primary">
    Salvar
  </button>
  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>
